<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examples</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>

<style>
    body {
        background-color: black;
        color: white;
    }
    button {
        padding: 1rem 2rem;
        font-size: 1rem;
        border: 2px solid gold;
        border-radius: .5rem;
        color: gold;
        background-color: green;
        text-transform: uppercase;
        font-weight: 600;
    }
    button:hover {
        color: green;
        background-color: gold;
    }
    button:disabled {
        background-color: greenyellow;
    }
    .invalid {
        color: pink
    }
    .valid {
        color: greenyellow
    }
</style>

<body>
    <%- include("../partials/user_details")%>

    <section>
        <h1>DEACTIVATE & ACTIVATE</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Eamil</th>
                    <th>Status</th>
                </tr>
            </thead>
                <%- include("../partials/list_users")%>
        </table>

        <div  hx-include="#list__checkbox" hx-target="tbody" hx-swap="outerHTML">
            <button  hx-put="/examples/users/active/">ACTIVATE</button>
            <button hx-put="/examples/users/inactive/">DEACTIVATE</button>
        </div>

    </section>
    
    <section id="user_validation">
        <h1>REAL TIME EMAIL VALIDATION</h1>
        <form hx-post="/examples/user/" hx-swap="none">
        <div
            id="user_validation__email"
        >

        <input 
            type="email" 
            name="email" 
            placeholder="email@email.com"
            id="user_validation__email_input"
            hx-post="/examples/user/email/"
            hx-trigger="keyup delay:500ms"
            hx-target="#user_validation__email_message"
            hx-swap="outerHTML"
            >

            <%- include("../partials/user_email_validation.ejs", {validity_class: "", message: ""})%>
        </div>
        <div>
            <input type="text" name="f_name" id="f_name" placeholder="first name">
        </div>
        <div>
            <input type="text" name="l_name" id="l_name" placeholder="last name">
        </div>
        <button type="submit">SUBMIT</button>
</form>
    </section>

    <section id="pick_car">
        <h1>select your car</h1> 
        <form hx-get="/examples/cars/selected/" hx-swap="none">
            <%- include("../partials/pick_car_selection" ,{cars}) %>
            <%- include("../partials/pick_car_model" ,{models}) %>
            <input type="submit" value="Select car">
        </form>
    </section>
</body>
</html>